% rebase('osnova.html')
<h2>
    Glasbenik - spletni predvajalnik glasbe
</h2>
<div style="font-size: larger;">
    <p>
        Glasbenik je spletna storitev, namenjena predvajanju glasbe iz youtuba. Narejena je bila za potrebe predmeta UVP na <a href="fmf.uni-lj.si/">Fakulteti za matematiko on fiziko.</a>
    </p>
    <p>Podroben opis projekta, navodila za uporabo in izvorno kodo najdete na <a href="https://github.com/urhprimozic/glasbenik">Githubu</a>.</p>
    <p><b>Avtor: </b> Urh Primožič</p>
    <p><b>Leto izdelave: </b>2020</p>
    
<h2>
Filozofska vprašanja
</h2>
<p>
    <b>Koliko časa je vzel projekt?</b> 
    Preveč ;). 
</p>
<p>
    <b>Kje so vse obljubljene funkcije?</b> 
    Med razvojem sem dobil ponudbo za  <a href="https://www.ijs.si/ijsw/">sanjsko polčetno delo</a> in vso programersko energijo usmeril vanj.
</p>
<p>
    <b></b> 
    
</p>
<h2>
    Načrti za prihodnost
</h2>
<p>
    Trenutno se glasba predvaja s pomočjo <i>embed youtube predvajalnika</i>. Ustrezna rešitev bi bil proxy server, ki bi glasbeniku serviral zvok. 
</p>
<p>
        Zanimivo bi bilo poganjati program na dejanskem serverju in dodati nek AI za predlaganje glasbe.
</p>
<p>
    Verjetnost za izvedbo teh izboljšav je majhna, saj me preganjajo drugi projekti, študij in treningi, glasbenik pa je samo posrednik med youtubom, ki ga lahko nadomestijo boljši <a href="https://vanced.app/"> ilegalci.</a>
</p>
</div>
