<!DOCTYPE html>
<html lang="sl">
    <head>
    <title>Glasbenik</title>
    <meta charset="utf-8" />
    <link rel="icon" href="../media/default.png" type="image/icon type">
    <link rel="stylesheet"  href="{{ get_url('static', filename='style.css') }}"/>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta name="description" content="Brezplačni predvajalnik glasbe">
    <meta name="keywords" content="glasba, youtube, uvp">
    <meta name="author" content="Urh Primožič">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ get_url('static', filename='script.js') }}""></script> 
    </head>
    <body onload="showPage()">
                <!-- Orodna vrstica  -->
        <div class="orodna_vrstica">
            <a class="active" href="/domov/"><b>Domov</b></a>
            <a href="#home">Meni</a>
            <a href="#contact">Prijava</a>
            <div class="iskalnik">
                <form action="/isci/" method="GET">
                    <!--Razlaga grde kode okoli forme backend 


                    -->
                <input type="text" placeholder="Išči po bazi.." name="iskalno_okno">
                <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>

        {{!base}}
    </body>
</html>