<!DOCTYPE html>
<html lang="sl">
    <head>
    <title>Glasbenik</title>
    <meta charset="utf-8" />
    <link rel="icon" href="../media/default.png" type="image/icon type">
    <link rel="stylesheet"  href="{{ get_url('static', filename='style.css') }}"/>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta name="description" content="Brezplačni predvajalnik glasbe">
    <meta name="keywords" content="glasba, youtube, uvp">
    <meta name="author" content="Urh Primožič">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ get_url('static', filename='script.js') }}""></script> 
    </head>
    <body onload="showPage()">
                <!-- Orodna vrstica  -->
        <div class="orodna_vrstica">
            <a class="active" href="/domov/"><b>Domov</b></a>
            <a href="/kolofon/">O projektu</a>
            <a href="https://www.patreon.com/urhprimozic" target="_blank">Podpri&#128176</a>
            <div class="iskalnik">
                <form action="/isci/" method="GET">
                <input type="text" placeholder="Išči po bazi.." name="iskalno_okno">
                <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>

        {{!base}}

        <br>
        <br>
        <br>
        <br>
        <br>
        <!--  -->
        <div style="position:fixed;bottom: 0;height:40px;overflow:hidden;width: 100%;">
            <div style="position:absolute;top:-60px;width: 100%;">
            <iframe width=100% height="100px" 
              src={{"https://www.youtube.com/embed/" + id_skladbe + "?autoplay=1"}}>
            </iframe>
            </div>
            <div style="position:absolute;width: 100%;background-color: black; left: 10%; height:85%; top: 5%;color: #ffcc33;text-align: center;"><h1 style="color: #ffcc33;margin-top: 0;font-size: 150%;font-family: 'Raleway', sans-serif;"><b>{{naslov_skladbe}}</b></h1></div>
         </div>
    </body>
</html>