% rebase('osnova.html')
 %import re
<div id="loader" style="display: none;"></div>


<form action="/predvajaj/" method="POST" id="predvajaj_skladbo"></form>
<form action="/nalozi/" method="POST" id="nalozi_skladbo"></form>

<br>

<!-- rezultati iskanja-->
% if rezultati is not None and rezultati != []:
<div>
        <table class="tabela">
            <tr id="trnaslovna">
                <th><i class="fa fa-play" aria-hidden="true"></i>
                </th>
                <th style="text-align: left;">NASLOV</th>
                <th><i class="fa fa-clock-o" aria-hidden="true"></i></th>
                <th  style="text-align: right;">AVTOR</th>
                <th></th>
            </tr>
        
        % for i in range(len(rezultati)):
            
  
            <tr>
                   
                <td>
                    <input id="thumb" onmouseover="playButton(this, 1)" onmouseout="playButton(this, 0)" onclick="loader()" type="image" class="thumbnail" form="predvajaj_skladbo" src="{{rezultati[i]['slika']}}" name="{{i}}" width="50" height="50" > 
                </td>
                <td style="text-align: left;">
                    {{rezultati[i]['naslov']}}
                </td>
                <td  style="text-align: center;">{{rezultati[i]['dolzina']}}</td>
                <td style="text-align: right;">{{rezultati[i]['avtor']}}</td>
                <td style="text-align: center;">
                        <button  name="{{i}}" onclick="loader()" class="download" form="nalozi_skladbo"><i class="fa fa-download" aria-hidden="true"></i></button>
                </td>
            
            </tr>
            
        
        % end
        </table>
        <div id="wait"  style="font-size: 100px; position: absolute;"></div>
    </div>
    
    <br>
        <div style="margin-top: 15px;height: 30px;position: relative;padding-top: 15px;">
            <div class="center">
                <!-- Gumba-->
                <form method="POST" action="/nalozi_vec_skladb/">
                    <button class="gumb" name="nalozi_vec" >NALOŽI VEČ</button>
                    <button class="gumb" name="po_spletu" onclick="loader_long()" onmouseover="opozorilo(1)" onmouseout="opozorilo(0)">
                        POIŠČI NA SPLETU
                    </button>
                    
                </form>
            </div>
        </div>
<p style="display: none;text-align: center;padding: 10px;" id="opozorilo"><i>(To lahko traja nekaj časa)</i></p>
<br>
      
%else:
Poiščite po bazi.
% end
